#scrolToTop {
    position: fixed;
    bottom: 60px;
    right: 60px;
    text-align: center;
    cursor: pointer;
    line-height: 0;
    text-decoration: "none";
    font-size: 2rem;
}

#scroll-up-icon {
    color: var(--latte-color);
    padding: 5px
}

#scroll-up-icon:hover {
    color: lightsalmon;
    background-color: white;
    border-radius: 50%;
}