.about-ctr-main {
    background-color: var(--buffed-beige-color);
    height: 110vh;
    /* padding-top: 6rem; */
}

.about-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.headshot > img {
    width: 28vw;
    height: auto;
    border-radius: 25px;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90vw;
    gap: 1rem;
}

.headshot {
    grid-column: 1 / span 1;
    grid-row: 1/ span 2;
}

.skills {
    /* border: 1.5px solid black; */
    border-radius: 25px;
    background-color: var(--sand-color);

}

.education {
    /* border: 1.5px solid black; */
    border-radius: 25px;
    gap: 0.30rem;
    background-color: var(--sand-color);
}

.about-ctr-main .react-icon {
    font-size: 35px;
}

.education h4 {
    font-size: 1.25rem;
}

.education p {
    font-size: 1.15rem;
}

.bio {
    grid-column: 2 / span 2;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    /* border: 1.5px solid black; */
    border-radius: 25px;
    padding: 10px;
    background-color: var(--sand-color);

}

@media only screen and (max-width: 935px) {
    .about-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .headshot {
        grid-column: 1 / span 2;
        grid-row: 1/ span 1;
    }
    .headshot img {
        width: 28vw;
        height: auto;
    }
    .education {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .skill {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    .bio {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }
}

@media only screen and (max-width: 615px) {
    .about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .headshot {
        grid-column: 1 / span 1;
        grid-row: 1/ span 1;
    }
    .headshot img {
        width: 50vw;
        height: auto;
    }
    .education {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .skill {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    .bio {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    } 
}