@import 'typed';

.home-ctr {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.home-ctr h1 {
    font-size: 70px;
}
.home-ctr h2 {
    font-size: 40px;
}
.home-ctr h3 {
    font-size: 25px;
}

.intro {
    color: salmon;
}

.name {
    color: black;
    // animation: rainbow 10s alternate infinite, flicker 10s infinite
}

.title {
    color: black;
}

span {
    color: white;
}

.typed-text {
	padding: 0 0 0 3px;
	background-color: lightsalmon;
	&::before { font-weight: 600; }
	@include typed(
		"Software Engineer!", "Full-Stack Developer!", "Programmer!", "Software Developer!", 
		2,
		(caret-width: 2px, caret-space: 2px)
	);
}

@keyframes rainbow {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px red, 0 0 20px red, 0 0 25px red, 0 0 30px red, 0 0 35px red;
    }
    20% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px orange, 0 0 20px orange, 0 0 25px orange, 0 0 30px orangepurple, 0 0 35px orange;
    }
    40% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px yellow, 0 0 20px yellow, 0 0 25px yellow, 0 0 30px yellow, 0 0 35px yellow;
    }
    60% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(133, 234, 133), 0 0 20px rgb(133, 234, 133), 0 0 25px rgb(133, 234, 133), 0 0 30px rgb(133, 234, 133), 0 0 35px rgb(133, 234, 133);
    }
    80% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(90, 162, 239), 0 0 20px rgb(90, 162, 239), 0 0 25px rgb(90, 162, 239), 0 0 30px rgb(90, 162, 239), 0 0 35px rgb(90, 162, 239);   
    }
    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px violet, 0 0 20px violet, 0 0 25px violet, 0 0 30px violet, 0 0 35px violet;   
    }
}

@keyframes flicker{
    40% {
        opacity: 1;
    }
    42% {
        opacity: 0.8;
    }
    43% {
        opacity: 1;
    }
    45% {
        opacity: 0.3;
    }
    46% {
        opacity: 1;
    }
    }