.logo {
    height: 45px;
    width: auto;
    border-radius: 10px;

}

header {
    background-color: lightblue;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    width: 90%;
    /* margin: auto; */
}

.nav-text {
    font-family: 'Yeseva One', cursive;    color: lightcoral;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px purple, 0 0 20px purple, 0 0 25px purple, 0 0 30px purple, 0 0 35px purple; */
    text-decoration: none;
    /* font-size: 25px; */
    /* animation: flicker 3s infinite; */
}

.nav-text:hover {
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px pink, 0 0 20px pink, 0 0 25px pink, 0 0 30px pink, 0 0 35px pink;
    font-size: 30px;
    transition: 0.40s;
}

.logo-ctr {
    align-self: center;
    justify-self: flex-start;
    margin-right: auto;
}

.link {
    text-decoration: none;
    margin: auto
}
