.logo {
   font-size: 60px;
   color: black;
   transition: 0.75s;
}

.logo:hover {
    color: lightsalmon;
    font-size: 70px;
    transition: 0.50s;
}

header {
    background-color: rgba(248, 223, 219, 1.0);
    background-color: var(--sand-color);
    height: auto;
    width: 100vw;
    position:fixed;
    top: 0;
    display: inline;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0.5rem; */
    height: 60px;
    /* width: 90%; */
}

/* .nav-text {
    text-decoration: none;
    padding: 5px;
    color: black;
}

.nav-text:hover {
    background-color: lightsalmon;
    color: white; 
} */

.logo-ctr {
    align-self: center;
    justify-self: flex-start;
    margin-right: auto;
    padding-left: 10px;
}

.link {
    text-decoration: none;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    /* padding: 5px; */
    transition: 0.25s;

}

.link:hover {
    /* background-color: lightsalmon; */
    /* color: white;  */
    font-size: 27px;
    transition: 0.25s;
    color: lightsalmon;
}

.link .selected {
    background-color: lightsalmon;
    color: white;
}

/* TABLET 85% of desktop size */
@media only screen and (max-width: 935px) {
    .logo {
        font-size: 52.17px;
    }
    .link {
        font-size: 1.30rem;
    }
}

/* PHONE 75% of desktop size */
@media only screen and (max-width: 615px) {
    .logo {
        font-size: 48px;
    }
    .link {
        font-size: 1.1rem;
    }
    header {
        position: relative;
    }
}