
button {
    margin: 5px;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(232, 227, 215, 1);
}

/* h2 {
    background-color: rgba(232, 227, 215, 1)
} */

img.project-img {
    width: 300px;
    height: auto;

}
.projects-grid-ctr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 85vh;
    gap: 20px;
    margin: 2rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-rows: 1fr 3fr 1fr; */
    border: 1px solid black;
    border-radius: 10px;
}