
.projects button {
    margin: 5px;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(232, 227, 215, 1);
}

.projects button:hover {
    background-color: lightsalmon;
    color: white;
}

/* h2 {
    background-color: rgba(232, 227, 215, 1)
} */

.projects {
    padding: 2rem;
    height: 85vh;
    margin-top: 1.5rem;
}

.projects-grid-ctr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.project-card {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    border: 1px solid black;
    border-radius: 10px;
}

.project-card h2 {
    background-color: rgba(232, 227, 215, 1);
}

.project-img-div {
    background-color: whitesmoke;
}

img.project-img {
    width: 300px;
    height: auto;

}

.projects .buttons-div {
    background-color: rgba(232, 227, 215, 1)
}