.projects-ctr-main {
    height: 110vh;
    /* padding-top: 2rem;; */
    background-color: var(--terracotta-color);
    /* border: 1px solid red; */
}

.projects-grid-ctr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 3rem;
    width: 90vw;
    border: 2px solid red;
}

img.project-img {
    width: 20vw;
    height: auto;
    padding-top: 30px;
}

.project-card {
    border-radius: 25px;
    background-color: var(--sand-color);

}

.project-card h2 {
    padding-top: 25px;
    padding-bottom: 10px;
}

/* .project-img-div {
    background-color: rgba(245, 241, 237, 1.0);
} */


.projects-ctr-main button {
    margin: 10px;
    height: 3rem;
    width: 7rem;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid black;
}

.projects-ctr-main button:hover {
    background-color: lightsalmon;
    color: white;
    font-size: 18px;
    transition: 0.15s;
    cursor:pointer
}

.projects-ctr-main .buttons-div {
    display: flex;
    padding-bottom: 10px;
}
